
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --dark: #966f2c;
  --light: #d69e3d;
  --white: #ffffff;
  --black: #000000;
  --background: #f3f0e9; 
  
  --l-ss: 'Lato', sans-serif;
  --k-ss: 'Karla', sans-serif;
  
  --mw: 1200px;
  --gap: 10px;
}


body {
    background-color: var(--background);
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
    font-family: var(--l-ss);
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
    font-family: var(--l-ss);
    font-weight: 700;
}

h3 {
    font-size: 1.375rem;
    font-family: var(--l-ss);
    font-weight: 700;
}

p {
    font-size: 1rem;
    font-family: var(--k-ss);
}
a {
    font-family: var(--k-ss);
}
hr {
    color: var(--white);

}

.skip-link {
    position: absolute;
    left: -9999px;
}

.skip-link:focus {
    left: 0;
    top: 0;
    background: #000000;
    color: #ffffff;
    padding: 1em;
    z-index: 1000;
}




/* Header section*/

.navbar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
   
}

.hambuger {
    cursor: pointer;
    border: none;
    color: var(--white);
    font-size: 2rem;
    background-color: transparent;
}

.nav-list {
    display: flex;
    gap: 1.5rem;
}

.nav-list a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
}

.nav-list a:hover,
.nav-list a:focus {
    color: var(--light);
    transition: color 0.3s ease-in-out;

}
header {
    background-size: cover;
    background-position: center;
    min-height: 600px;
    background-image: url(../images/hero-background.jpg);       
    position: relative;
    overflow: hidden;
}
header .header-wrapper {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;

}
#header-container {
    color: var(--white);
    padding: 30px;
}

/* Hero section */

.hero {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
max-width: fit-content;
}

.hero h1 {
  
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 30px;


}
.hero p {
   
    margin-bottom: 40px;

}


.explore-button {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    padding: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.explore-button:hover {
    display: inline-block;
    color:var(--white);
    background-color: var(--dark);
    transform: scale(1.05);
   
}
@keyframes fadeSlideup {
    from {
        opacity: 0;
        transform: translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content {
    animation: fadeSlideup 1.2s ease-out;
}


    /* Welcome section */
.welcome {
    padding: 30px;
}

.welcome h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--dark);
}
.welcome h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}
 

 /* Offer section */

 .offer {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
   
 }

.offer h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--dark);
    text-align: center;
}
.offer-content h3 {
    color: var(--black);
}
.offer h2 {
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
  
}

.offer p {
    margin-bottom: 40px;
    text-align: center;
}
 .offer img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    display: block;
    margin: 0 auto;  
 }

 #coffee {
    opacity: 1;
    transition: opacity 0.3s;
 }
 #coffee:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
 }

 #goods {
    opacity: 1;
    transition: opacity 0.3s;
 }
 #goods:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
 }

 #love {
    opacity: 1;
    transition: opacity 0.3s;
 }
 #love:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
 }
 
 /* Menu - Locations section */
 .menu-location {
    background-image: url(../images/coffee-shop.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 600px;  
    position: relative;
    overflow: hidden;
 }

 .wrapper-menu-loca {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.inner-text {
    max-width: var(--mw);
    color: var(--white);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.wrapper-menu-loca h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--light);
    text-align: center;
}

.wrapper-menu-loca h2 {
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;

}

.wrapper-menu-loca .explore-button, 
.wrapper-menu-loca .location-button {
    display: block;
    width: fit-content;
    margin: 0 auto;
}


.location-button {
    border: 2px solid var(--white);
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    background-color:  rgba(0, 0, 0, 0.01);
    padding: 15px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
   
}
    
.location-button:hover {
        color:var(--white);
        background-color: var(--dark);
        transform: scale(1.05);
    }

/* About section */

.about {
    padding: 30px;
}
.about-content h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--dark);
}

.about-content h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.about-button {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    padding: 15px 50px;
    margin-top: 20px;
    font-size: larger;
    transition: background-color 0.3s ease, transform 0.3s ease;

}
    
.about-button:hover {
    display: inline-block;
    color:var(--white);
    background-color: var(--dark);
    transform: scale(1.05);
}
 /* Customers section */

 .customers {
    background-color: var(--black);
    color: var(--white);
    padding: 30px;
 }

 .customers h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--light);
 }

 .customers h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
 }

 .jane,
 .scott,
 .susie {
    position: relative;
    width: 100%;
    max-width: 600px;
 }
 #jane,
 #scott,
 #susie {
    width: 100%;
    height: auto;
    opacity: 0.5;
 }

 .overlay-text {
    position: absolute;
    top: 0%;
    left: 20%;
    transform: translate(-10%, 180%);

 }

 /* Footer */

 .footer {
    color: var(--white);
    text-align: center;
    padding: 20px;
    background-color: var(--black);
 }

 body::after {
    content: "";
    display: block;
    height: 150px;
    background-color: var(--black);
 }
 


/* Mobile responsiveness */
@media (max-width: 767px){
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: var(--dark);
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        padding: 1em;
        z-index: 1000;
        text-align: center;
    }
    .menubar:checked~ .nav-list {
        display: flex;
    }

    .menubar {
        display: none;
    }

    .hambuger {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 20px;
        color: var(--white);
    }
    
    /* Welcome section */
    .welcome-content {
        display: grid;
        gap: var(--gap);
        max-width: 700px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    }
    
    .welcome-content img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    #latte {
        grid-column: span 2;
    }

    /* About section */
    #about-us {
        width: 100%;
        margin-top: 40px;
    }
    #jane, 
    #scott,
    #susie {
        width: 100%;
        margin-top: 30px;
    }
    }
    



/* Tablet responsiveness */
@media (min-width: 768px) and (max-width: 1099px){
    
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.375rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }
   
    .hero {
        max-width: 500px;
        margin: 0 auto;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: var(--dark);
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        padding: 1em;
        z-index: 1000;
        text-align: center;
    }
    .menubar:checked~ .nav-list {
        display: flex;
    }

    .menubar {
        display: none;
    }

    .hambuger {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 20px;
        color: var(--white);
    }

       /* Welcome section */
    .welcome-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--gap);
        height: 600px;   
    }

    #latte {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .welcome-content img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

        /* Offer section */
    .offer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
        justify-items: center;
    }

    .box:last-child {
        grid-column:  1 / span 2;
        justify-self: center;
        text-align: center;
        max-width: 400px;
    }

      /* About section */
      #about-us {
        width: 100%;
        margin-top: 40px;
    }
    
    /* Customers section */
    #customers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
        justify-items: center;
    }

    #customers-box:last-child {
        grid-column:  1 / span 2;
        justify-self: center;
        text-align: center;
        max-width: 400px;
    }

}




 /* Deskstop responsiveness */

@media (min-width: 1100px) {
    h1 {
        font-size: 3.875rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 2rem;
    }
    hr {
        max-width: var(--mw);
        margin: 0 auto;
    }
    header {
        min-height: 1000px;
    }
    .nav-list {
        display: flex;
    }
    .hambuger {
        display: none;
    }
    .menubar {
        display: none;
    }
    nav {
        font-family: var(--l-ss);
        max-width: var(--mw);
        text-align: center;
        margin: 0 auto;
    }
    .hero {
        max-width: 800px;
        margin: 0 auto;
    }
     
    .hero h1 {
        margin-top: 250px;
        font-size: 3.5rem;
    }
    .hero p {
        font-size: 1.5rem;
    }
        /* Welcome section */

    .wrapper {
        max-width: var(--mw);
        margin: 0 auto;
    }

    .welcome-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--gap);
        height: 600px;   
    }

    #latte {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .welcome-content img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

        /* Offer section */

    .offer-content {
        display: flex;
        gap: 20px;
        padding: 10px;
    }

    /* Menu Location section */

    .inner-text {
        max-width: var(--mw);
        width: 100%;
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;
        padding: 40px;
        text-align: center;
    }
   
    .menu,
    .location {
       flex: 1 1;
       text-align: center;
    }

    /* About us section */

    .about {
        display: flex;
        padding: 10px;
        max-width: var(--mw);
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    #about-us {
        width: 600px;
        
    }
    .about-content {
        padding-left: 30px;
        margin: auto;
    }

    /* Customers section */

    .customers-content {
        width: 600px;
       
    }

    .customers {
        max-width: var(--mw);
        margin: 0 auto;
    }

    .customers::after {
        content: "";
        display: block;
        height: 50px;
        background-color: var(--black);
     }
    
     #customers {
        display: flex;
        gap: 30px;
    }


    .jane,
    .scott,
    .susie {
        position: relative;
        width: 100%;
        max-width: 600px;
    }
    #jane,
    #scott,
    #susie {
        width: 100%;
        height: auto;
        opacity: 0.5;
    }

    .overlay-text {
        position: absolute;
        top: 60%;
        left: 20%;
        transform: translate(-10%, -10%);

    }

    footer {
        max-width: var(--mw);
        margin: 0 auto;
    }

    body::after {
        max-width: var(--mw);
        margin: 0 auto;
    }


}